{% extends "index.html" %}

{% block content %}

<h1>Ajouter un nouveau livre</h1>

<form action="/new" method="post">

    <div>
        <label for="book_name">Nom du livre</label>
        <input type="text"  id="book_name"
               name="name" placeholder="Percy Jackson et le voleur de foudre" />
    </div>

    <div>
        <label for="book_author">Auteur</label>
        <input type="text" id="book_auhtor"
               name="author" />
    </div>

    <div>
        <label for="book_editor">Editeur</label>
        <input type="text" id="book_editor"
               name="editor" />
    </div>

    <button type="submit">Rajouter le livre</button>

</form>

<div>
    <a href="/liste">Retour</a>
</div>

{% endblock %}
