{% extends "index.html" %}

{% block content %}

<h1>Ajouter un nouveau livre</h1>
<h3>Nombre de livres : {{Nombre}}</h3>

<form action="/save" method="post">

    <div>
        <label for="book_name">Nom du livre</label>
        <input type="text"  id="book_name"
               name="name" placeholder="Percy Jackson et le voleur de foudre" required="true"/>
    </div>

    <div>
        <label for="book_author">Auteur</label>
        <input type="text" id="book_auhtor"
               name="Author" required="true", placeholder="Rick Riordan"/>
    </div>

    <div>
        <label for="book_editor">Editeur</label>
        <input type="text" id="book_editor"
               name="Editor" required="true", placeholder="LPG"/>
    </div>

    <button type="submit">Rajouter le livre</button>

</form>

<div>
    <a href="/liste">Retour</a>
</div>

{% endblock %}
