{%extends "index.html"%}
<!-- Peut voir tous les utilisateurs, les bloquer/débloquer ou les promouvoir admins-->
{% block content %}
<div style="position: absolute; top: 10px; right: 10px;">
    <form action="/logout" method="post">
      <button class="btn btn-danger" type="submit">Logout</button>
    </form>
</div>
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link link-body-emphasis" href="/liste">Home</a>
    </li>
    <li class = "nav-item">
        <a class = "nav-link active" href="/administration">Admin</a>
    </li>    
</ul><br>
<div class="container">
    <h1 class="display-6 text-center">Administration</h1>
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Group</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.group}}</td>
            <td>
            <div class = "grid text-center" style="display:flex;flex-direction: row">
                {%if user.group != "admin"%}
                <form action="/promote/{{user.id}}" method="post" style = "margin-right:5%;">
                    <button type="submit" class="btn btn-success">Promote</button>
                </form>
                {%else%}
                <form action="/promote/{{user.id}}" method="post" style = "margin-right:5%;">
                    <button type="submit" class="btn btn-warning">Demote</button>
                </form>
                {%endif%}
                {%if user.whitelist != True%}
                <form action="/block/{{user.id}}" method="post">
                    <button type="submit" class="btn btn-success">Unblock</button>
                </form>    
                {%else%}
                <form action="/block/{{user.id}}" method="post">
                    <button type="submit" class="btn btn-danger">Block</button>
                </form>
                {%endif%}
            </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}