{% extends "index.html"%}
{% from "book_macro.html" import show_books %}

{% block content %}
<div style="position: absolute; top: 10px; right: 10px;">
    <form action="/logout" method="post">
      <button class="btn btn-danger" type="submit">Logout</button>
    </form>
</div><br> 
{%if current_user.group == "admin"%}
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/liste">Home</a>
    </li>
    <li class = "nav-item">
        <a class = "nav-link link-body-emphasis" href="/administration">Admin</a>
    </li>
</ul>
<br> 
{%endif%}

<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Auteur</th>
            <th>Editeur</th>
            {%if current_user.group == "admin"%}
            <th>Actions</th>
            {%endif%}
            
        </tr>
        {% for book in books %}
            {{ show_books(book.id, book.name, book.Author, book.Editor, current_user.group) }}
            
        {% endfor %}
        <th colspan="4">Nombres de livres : {{Nombre}}</th>
        
    </table>
    {%if current_user.group == "admin"%}
    <div class="grid text-center" style="margin-bottom: 5%;">
        <a href="/save"><button type="button" class="btn btn-outline-dark g-col-6 w-25 p-2">Ajouter un nouveau livre</button></a>    
    </div>
    {%endif%}
</div>
{% endblock %}