{% extends "index.html" %}
{% from "book_macro.html" import show_books %}

{% block content %}
<form action="/logout" method="post">
    <button type="submit" class="btn btn-danger">Logout</button>
</form><br>

<div class="container border rounded-4 border-2 p-4 mb-4 border-opacity-75" style=" width: 50%">
    <h2 class = "display-6 text-center">Modifier le livre</h2><br>
    <form action="/modify/{{book.id}}" method="post">
        <div class="input-group mb-3">
            <label for="book_name" class="input-group-text">Nom</label>
            <input type="text"  id="book_name" class="form-control"
                name="name" value="{{book.name}}" required="true"/>
        </div>

        <div class="input-group mb-3">
            <label for="book_author" class="input-group-text">Auteur</label>
            <input type="text" id="book_auhtor" class="form-control"
                name="Author" required="true" value="{{book.Author}}"/>
        </div>

        <div class="input-group mb-3">
            <label for="book_editor" class="input-group-text">Editeur</label>
            <input type="text" id="book_editor" class="form-control"
                name="Editor" value="{{book.Editor}}"/>
        </div>
        <div class="grid text-center">
            <a href="/liste"><button type="button" class="btn btn-outline-dark">Annuler</button></a>
            <button type="submit" class="btn btn-outline-dark">Confirmer</button>
        </div>

    </form>

   
</div>

{% endblock %}
