{% extends "index.html" %}
{% from "book_macro.html" import show_books %}
{% block content %}
<ul class="nav nav-tabs justify-content-center" style=" padding-right: 2%; padding-left: 7%;">
    <li class="nav-item" style="margin-left: auto;">
        <form action="/logout" method="post" >
            <button class="btn btn-danger" type="submit" >Se déconnecter</button>
            <!-- Logout button -->
        </form>
    </li>
</ul><br>

<div class="container border rounded-4 border-2 p-4 mb-4 border-opacity-75" style=" width: 50%">
    <!-- Container for modifying book -->
    <h2 class="display-6 text-center">Modifier le livre</h2><br>
    <!-- Title for modifying book section -->
    <form action="/modify/{{book.id}}" method="post">
        <!-- Form for modifying book -->
        <div class="input-group mb-3">
            <!-- Form group for book name -->
            <label for="book_name" class="input-group-text">Nom</label>
            <input type="text" id="book_name" class="form-control" name="name" value="{{book.name}}" required="true"/>
        </div>
        <div class="input-group mb-3">
            <!-- Form group for book author -->
            <label for="book_author" class="input-group-text">Auteur</label>
            <input type="text" id="book_author" class="form-control" name="Author" required="true" value="{{book.Author}}"/>
        </div>
        <!-- End of book author form group -->
        <div class="input-group mb-3">
            <!-- Form group for book editor -->
            <label for="book_editor" class="input-group-text">Editeur</label>
            {%if book.Editor != None%}
            <input type="text" id="book_editor" class="form-control" name="Editor" value="{{book.Editor}}"/>
            {%else%}
            <input type="text" id="book_editor" class="form-control" name="Editor" value=""/>
            {%endif%}
        </div>
        <div class="input-group mb-3">
            <!-- Form group for book author -->
            <label for="book_price" class="input-group-text">Prix</label>
            <input type="number" id="book_price" class="form-control" name="price" required="true" value="{{book.price}}" min="0"/>
        </div>
        <!-- End of book editor form group -->
        <div class="grid text-center">
            <!-- Button group -->
            <a href="/liste"><button type="button" class="btn btn-outline-dark">Annuler</button></a>
            <button type="submit" class="btn btn-outline-dark">Confirmer</button>
        </div>
    </form>
</div>

{% endblock %}