{% extends "index.html" %}

{% block content %}
<form action="/logout" method="post">
  <button type="submit" class="btn btn-danger">Logout</button>
</form> 
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link link-body-emphasis" href="/liste">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/save">Ajouter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-body-emphasis" href="/modify">Modifier</a>
  </li>
  <li class = "nav-item">
      <a class = "nav-link link-body-emphasis" href="/administration">Admin</a>
  </li>
  
</ul><br>

<form action="/save" method="post" class = "container">
    <h1 class = "display-6 text-center">Ajouter un nouveau livre</h1><br>

    <div class="input-group mb-3">
        <label for="book_name" class="input-group-text">Nom du livre</label>
        <input type="text"  id="book_name" class="form-control"
               name="name" placeholder="Percy Jackson et le voleur de foudre" required="true"/>
    </div>

    <div class="input-group mb-3">
        <label for="book_author" class="input-group-text">Auteur</label>
        <input type="text" id="book_auhtor" class="form-control"
               name="Author" required="true", placeholder="Rick Riordan"/>
    </div>

    <div class="input-group mb-3">
        <label for="book_editor" class="input-group-text">Editeur</label>
        <input type="text" id="book_editor" class="form-control"
               name="Editor" required="true", placeholder="LPG"/>
    </div><br>
    
    <div class="d-flex justify-content-between">
        <a href="/liste"><button type="button" class="btn btn-outline-dark p-2 rounded-circle" > Retour </button></a>
        <button type="submit" class="btn btn-outline-dark rounded-circle">Suivant</button>  
        <h5> Nombres de livres : {{Nombre}} </h5>      

    </div>    
</form>

{% endblock %}
