{% extends "index.html" %}
{% block content %}

<ul class="nav nav-tabs justify-content-center" style=" padding-right: 2%; padding-left: 7%;">
    <li class="nav-item" style="margin-left: auto;">
        <form action="/logout" method="post" >
            <button class="btn btn-danger" type="submit" >Se déconnecter</button>
            <!-- Logout button -->
        </form>
    </li>
</ul><br>

<form action="/save" method="post" class="container">
    <!-- Form for adding a new book -->
    <h1 class="display-6 text-center">Ajouter un nouveau livre</h1><br>

    <div class="input-group mb-3">
        <!-- Form group for book name -->
        <label for="book_name" class="input-group-text">Nom du livre</label>
        <input type="text" id="book_name" class="form-control"
               name="name" placeholder="Percy Jackson et le voleur de foudre" required="true"/>
    </div>

    <div class="input-group mb-3">
        <!-- Form group for book author -->
        <label for="book_author" class="input-group-text">Auteur</label>
        <input type="text" id="book_author" class="form-control"
               name="Author" required="true" placeholder="Rick Riordan"/>
    </div>

    <div class="input-group mb-3">
        <!-- Form group for book editor -->
        <label for="book_editor" class="input-group-text">Editeur</label>
        <input type="text" id="book_editor" class="form-control"
               name="Editor" placeholder="LPG"/>
    </div>
    <div class="input-group mb-3">
        <!-- Form group for book price -->
        <label for="book_price" class="input-group-text">Prix</label>
        <input type="number" id="book_price" class="form-control"
               name="price" required="true" placeholder="15" min="0"/>
    </div>
    <div class="d-flex justify-content-between">
        <!-- Container for buttons -->
        <div>
        <a href="/profile"><button type="button" class="btn btn-outline-dark">Annuler</button></a>
        <button type="submit" class="btn btn-outline-dark">Confirmer</button>
        </div>
        <h5> Nombres de livres : {{Nombre}} </h5>      
    </div>    
</form>
{% endblock %}
