{% extends "index.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg z-3 bg-white" style="height: 200px; border-color: #BA4A00; margin-bottom: 20px;">
    <div class="container-fluid  bg-white" style="border-bottom: solid; padding-bottom: 10px; padding-right: 80px; padding-left: 30px; border-color: #BA4A00;">
        <a href="/liste" class="navbar-brand" style="margin-right: 20px; color: #BA4A00; font-size: 75px; text-decoration: none; font-family: 'Brush Script MT', cursive;">BuyBeer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fs-4 bg-white" style="margin-left: 75px;" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ms-4">
                    <a class="nav-link active" href="/liste">Accueil</a>
                </li>
                <li class="nav-item ms-4">
                    <a class="nav-link link-body-emphasis" href="/profile">Profil</a>
                </li> 
                <li class="nav-item ms-4">
                    <a class="nav-link link-body-emphasis" href="/administration">Admin</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">           
                <li class="nav-item dropdown bg-white">
                    <a class="nav-link dropdown-toggle" style="color: #BA4A00;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bonjour administrateur
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/panier">Panier</a></li>
                        <li><a class="dropdown-item" href="/order">Historique de commande</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form action="/logout" method="post" class="dropdown-item">
                                <button class="btn btn-outline-dark" type="submit">Se déconnecter</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="height: 600px;">
    <!-- Container for user administration content -->
    <h1 class="display-6 text-center" >Administration</h1>
    <!-- Heading for the administration section -->

    <table class="table table-hover">
        <!-- Table to display user information -->
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Group</th>
            <th>Actions</th>
            <!-- Table headers -->
        </tr>
        {% for user in users %}
        <!-- Loop through each user -->
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.group}}</td>

            <td>
                <!-- Actions for user management -->
                <div class="grid text-center" style="display:flex;flex-direction: row">
                    {% if user.group != "admin" %}
                    <!-- If user is not an admin -->
                    <form action="/promote/{{user.id}}" method="post" style="margin-right:5%;">
                        <!-- Form to promote user -->
                        <button type="submit" class="btn btn-success">Promote</button>
                        <!-- Promote button -->
                    </form>
                    {% else %}
                    <!-- If user is an admin -->
                    <form action="/promote/{{user.id}}" method="post" style="margin-right:5%;">
                        <!-- Form to demote user -->
                        <button type="submit" class="btn btn-warning">Demote</button>
                        <!-- Demote button -->
                    </form>
                    {% endif %}

                    {% if user.whitelist != True %}
                    <!-- If user is not whitelisted -->
                    <form action="/block/{{user.id}}" method="post">
                        <!-- Form to unblock user -->
                        <button type="submit" class="btn btn-success">Unblock</button>
                    </form>
                    {% else %}
                    <!-- If user is whitelisted -->
                    <form action="/block/{{user.id}}" method="post">
                        <!-- Form to block user -->
                        <button type="submit" class="btn btn-danger">Block</button>
                    </form>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}