{% extends "index.html" %}
{% from "beers_macro.html" import show_beers %}
{% block content %}
<nav class="navbar navbar-expand-lg " style=" height: 200px; border-color: #BA4A00; margin-bottom: 20px;">
    <div class="container-fluid border-bottom border-4" style=" padding-bottom: 10px; padding-left: 20px; border-color: #BA4A00;">
        <a href="/liste" class="navbar-brand " style=" margin-right: 50px; color :#BA4A00; font-size: 75px; text-decoration: none; font-family: 'Brush Script MT', cursive;">BuyBeer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <!-- Link to home page -->
          <div class="collapse navbar-collapse fs-5" style="margin-left: 75px;" id="navbarNav">
              <ul class="navbar-nav end-0" >
                  <!-- Navigation tabs -->
                  {%if current_user != None%}
                  <!-- Check if the current user is an admin -->
                      <li class="nav-item ">
                      <a class="nav-link active " href="/liste">Accueil</a>
                      <!-- Link to home page -->
                      </li>
                      <li class="nav-item">
                          <a class="nav-link link-body-emphasis" style="margin-right: 600px;" href="/profile">Profil</a>
                          <!-- Link to profile page -->
                      </li>
                  {% if current_user.group == "admin" %}
                      <li class="nav-item">
                          <a class="nav-link link-body-emphasis" href="/administration">Admin</a>
                          <!-- Link to admin page -->
                      </li>
                      <br>
                      <!-- Line break -->
                  </div>
                  
                  {% endif %}
                      <li class="nav-item dropdown" >
                          <a class="nav-link dropdown-toggle " style="color: #BA4A00;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            [{{nb}}] Bonjour Mr/Mlle {{current_user.name}} 
                          </a>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="/panier">Panier [{{nb}}]</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><form action="/logout" method="post" class="dropdown-item" ><button class="btn btn-outline-dark" type="submit" >Se déconnecter</button>
                                  <!-- Logout button -->
                                  </form>
                              </li>
                          </ul>
                      </li>
                  {%else%}
                      <li class="nav-item" style="margin-left: auto;">
                          <a href="/login"><button class="btn btn-danger" type="button">Quitter l'application</button></a>
                          <!-- Link to login page -->
                      </li>
                  {%endif%}
              </ul>
          
      </div>
  </nav>

<div class="container">
<!-- End of row -->
    <!-- Table to display beers
        <tr>
            <th>Id</th>
            <th>Propriétaire</th>
            <th>Nom</th>
            <th>Auteur</th>
            <th>Editeur</th>
            <th>Prix</th>-->
            {% if current_user != None%}
            {%endif%}

        {% for beer in beers %}
        
        <div class="col col-sm-12 col-md-12 mb-3 mb-sm-0" style="padding-left:  50px;">
            <!-- Column for alcohol item -->
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="{{beer.image}}" class="img-fluid rounded-start" alt="{{beer.name}}" style="height: 180px; width: 200px;">
                </div>
                <div class="col-md-8">
                    <div class="card mb-3" style="border-color: #BA4A00; width: 100%;">
                        <!-- Adjusted card width -->
                        <div class="card-body text-center">
                            <!-- Body of the card -->
                            <h5 class="card-title mb-3">{{ beer.name }}</h5>
                            <!-- Name of the alcohol -->
                            <p class="card-text ">{{beer.description}}</p>

                            <p class="card-text">Prix: {{ beer.price }}</p>
                            <!-- Price of the alcohol -->
                            {% if current_user != None %}
                            <!-- Check if user is logged in -->
                            <form action="/buy/{{beer.id}}" method="post" class="dropdown-item" >
                                <button class="btn btn-outline-dark" type="submit" style=" width: 200px;">Acheter</button>
                                  </form>
                            <!-- Button to buy alcohol -->
                            {% endif %}
                        </div>
                        <!-- End of card body -->
                    </div>
                    <!-- End of card -->
                </div>
            </div>
        </div>
            <!-- End of column -->
        {% endfor %}

        <!-- Table row for the number of beers -->
        <br>
        <div class="grid text-end mb-5" style="width: 84%; font-size: 15px">Nombres d'articles : {{ Nombre }}</div>    
    </div>
    
    

</div>
{% endblock %}
