{% extends "index.html" %}
{% from "beers_macro.html" import show_beers %}
{% block content %}
<nav class="navbar navbar-expand-lg " style=" height: 200px; border-color: #BA4A00; margin-bottom: 20px;">
    <div class="container-fluid border-bottom border-4" style=" padding-bottom: 10px; padding-left: 20px; border-color: #BA4A00;">
        <a href="/liste" class="navbar-brand " style=" margin-right: 50px; color :#BA4A00; font-size: 75px; text-decoration: none; font-family: 'Brush Script MT', cursive;">BuyBeer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Link to home page -->
        <div class="collapse navbar-collapse fs-5" style="margin-left: 75px;" id="navbarNav">
            <ul class="navbar-nav end-0" >
                <!-- Navigation tabs -->
                {%if current_user != None%}
                <!-- Check if the current user is an admin -->
                    <li class="nav-item ">
                    <a class="nav-link active " href="/liste">Accueil</a>
                    <!-- Link to home page -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis" style="margin-right: 600px;" href="/profile">Profil</a>
                        <!-- Link to profile page -->
                    </li>
                {% if current_user.group == "admin" %}
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis" href="/administration">Admin</a>
                        <!-- Link to admin page -->
                    </li>
                    <br>
                    <!-- Line break -->
                </div>
                
                {% endif %}
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle " style="color: #BA4A00;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Bonjour Mr/Mlle {{current_user.name}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/panier">Panier</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><form action="/logout" method="post" class="dropdown-item" ><button class="btn btn-outline-dark" type="submit" >Se déconnecter</button>
                                <!-- Logout button -->
                                </form></a>
                            </li>
                        </ul>
                    </li>
                {%else%}
                    <li class="nav-item" style="margin-left: auto;">
                        <a href="/login"><button class="btn btn-danger" type="button">Quitter l'application</button></a>
                        <!-- Link to login page -->
                    </li>
                {%endif%}
            </ul>
        
    </div>
</nav>
<br>
<div class="container border rounded-4 border-2 p-4 mb-4 border-opacity-75" style=" width: 50%; color: #BA4A00">
    <h2 class="display-6 text-center">Profil - {{ current_user.group }}</h2><br>
    <form action="/profile" method="post">
        <div class="input-group mb-3">
            <label for="name" class="input-group-text">Nom</label>
            <input type="text" id="name" class="form-control" name="name" value="{{current_user.name}}" required="true"/>
        </div>
        <div class="input-group mb-3">
            <label for="surname" class="input-group-text">Prénom</label>
            <input type="text" id="surname" class="form-control" name="surname" value="{{current_user.surname}}" required="true"/>
        </div>
        <div class="input-group mb-5">
            <label for="username" class="input-group-text">Nom d'utilisateur</label>
            <input type="text" id="username" class="form-control" name="username" value="{{current_user.username}}" required="true"/>
        </div>
        <div class="grid text-center">
            <a href="/new_mdp"><button type="button" class="btn btn-outline-dark">Changer de mot de passe</button></a>
            <button type="submit" class="btn btn-outline-dark">Modifier le profil</button>
        </div>
    </form>
    
</div>
{% endblock %}